#buttonDaftarAlat {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  left: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-image: url(../images/alat-bright.svg);
  background-size: contain;
  /* background image */
  background-color: rgba(255, 255, 255, 0);
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  /* border-radius: 10px; */
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  width: 60px;
  height: 60px;
}

#buttonDaftarBahan {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  left: 90px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-image: url(../images/bahan-bright.svg);
  background-size: contain;
  /* Background Image */
  background-color: rgba(255, 255, 255, 0);
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  /* border-radius: 10px; */
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  width: 60px;
  height: 60px;
}

#buttonDaftarBahan:hover {
  background-image: url(../images/bahan-dark.svg);
}

#buttonDaftarAlat:hover {
  background-image: url(../images/alat-dark.svg);
}